:host {
  --animation-duration: 0.75s;
  display: block;

  ngx-masonry {
    min-height: 100%;
    width: 100%;

    .masonry-item {
      transition: top var(--animation-duration) ease-in-out, left var(--animation-duration) ease-in-out;
      margin: 10px;
      width: 400px;


      &.maximised {
        transition: top var(--animation-duration) ease-in-out, left var(--animation-duration) ease-in-out;
        position: absolute;
        top: 10px !important;
        left: 10px !important;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
      }

      &.front {
        z-index: 10;
      }
    }
  }

}
