<!--<ngx-masonry>
  <div ngxMasonryItem class="masonry-item" *ngFor="let item of blocItems">
    <ng-container *ngIf="item.template">
      <div>{{item.dataId}}</div>
      <ng-container [ngTemplateOutlet]="item.template">assign</ng-container>
    </ng-container>
  </div>
</ngx-masonry>-->

<ng-container *ngIf="blocItems">
  <div class="masonry-item" *ngFor="let item of blocItems">
    <ng-container>
      <ng-container *ngTemplateOutlet="item.template"></ng-container>
    </ng-container>
  </div>

</ng-container>
