<div class=" flip container" #flip (click)="maximise()" [class.maximised]="maximised"
  [style.height.px]="maximised?maximisedSize.height:lastMinSize.height"
  [style.width.px]="maximised?maximisedSize.width:lastMinSize.width">
  <div class="inner">
    <div class="front min-view">
      <div *ngIf="minTemplate">
        min
        <ng-container *ngTemplateOutlet="minTemplate"></ng-container>
      </div>
    </div>
    <div class="back max-view">
      <div *ngIf="maxTemplate">
        max
        <ng-container *ngTemplateOutlet="maxTemplate"></ng-container>
      </div>
    </div>
  </div>
</div>
